<html>
<head>
	<title>All Collections</title>
</head>
<body>
	<div id='upper_nav'>
		<h1>All Collections</h1>
		
		<a href="/homes/index" id='back'>Home</a>
	</div>
	
	<div id='collection_type'>
		<p>Your Collections</p>
		<a href="/saves/all">Subscribed Collections</a>
	</div>
	<div id='video_section'>
		<div id='video'></div>
	</div>
	<div id='all_collections'>
		<%=render partial: "collection", locals: {collections:@collections} %>
	</div>
</body>
</html>