<html>
<head>
	<title></title>
	<style type="text/css">
		p{
			width: 800px;
			display:block;
			margin-left: auto;
			margin-right:auto;
			margin-top:25px;
		}
		h1{
			width:200px;
			margin-left: auto;
			margin-right:auto;
		}
		#links{
			width:800px;
			margin-left: auto;
			margin-right:auto;
		}
		.link{
			margin-left: auto;
			margin-right:auto;
			width:300px;
			margin-top:10px;
		}
		
		h4{
			width:250px;
			margin-left: auto;
			margin-right:auto;
		}

		#session{
			float:right;
			margin-right:150px;
		}
		#walkthrough{
			height:300px;
			width:310px;
			margin-right:auto;
			margin-left:auto;
			border:1px solid black;
		}
	</style>
</head>
<body>

	<div id='upper_nave'>
		<a href="/sessions/index" id='session' class="btn btn-success">Sign In/Login</a>
		<h1>JOT</h1>
	</div>
	<h4>Video Walkthrough</h4>
	<div id='walkthrough'>


	</div>
	
	<!-- <p id='description'>JOT is based on Robert Greene and Ryan Holiday’s notecard system for writing books and increasing their creative output. The system is simple, you write down anecdotes, notes, ideas, facts, data, quotes, etc you come across in your research on note cards, then organize them based on a theme or project. </p>
	<p>It helps you discover patterns, themes and makes the creative process easier by having all your supporting content available and organized. </p>
	<p>Instead of using notes cards, JOT is digital and is made specifically to collect and organize supporting content in video by allowing you to tag notes to moments in the videos you watch.</p> -->

	<h4>Read More Here:</h4>
	<div id='links'>
		<div class='link'><a href="http://ryanholiday.net/the-notecard-system-the-key-for-remembering-organizing-and-using-everything-you-read/">Ryan Holiday Blog Entry </a></div>
		<div class='link'><a href="http://mixergy.com/interviews/robert-greene-mastery-interview/">Robert Greene Explains His NoteCard System In This Interview</a></div>
		<div class='link'><a href="https://medium.com/@paulorrj/the-robert-greene-method-of-writing-books-e175ade04897#.tedoja7j6">Medium Entry About the Note Card Process</a></div>	
	</div>


</body>
</html>