<html>
<head>
	<title></title>

</head>
<body>


	<%content_for :upper_button do %>
		<a href="/sessions/index" id='session' class="btn btn-success">Sign Up/Login</a>
	<% end%>

	<div id='walkthrough'>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/cTiuovpoJc0" frameborder="0" allowfullscreen></iframe>
	</div>
	
	<h4>Read More Here:</h4>
	<div id='links'>
		<div class='link'><a href="http://ryanholiday.net/the-notecard-system-the-key-for-remembering-organizing-and-using-everything-you-read/">Ryan Holiday Explains His Note Card System </a></div>
		<div class='link'><a href="http://mixergy.com/interviews/robert-greene-mastery-interview/">Robert Greene Explains His NoteCard System In This Interview</a></div>
		<div class='link'><a href="https://medium.com/@paulorrj/the-robert-greene-method-of-writing-books-e175ade04897#.tedoja7j6">Medium Entry About the Note Card Process</a></div>	
	</div>


</body>
</html>