<html>
<head>
	<title>SignUp or Login</title>
	<style type="text/css">
		#sign_up_input input{
			display:block;
			width:200px;
			height:40px;
		}

		#sign_up{
			width:400px;
			display:block;
			margin-left:auto;
			margin-right:auto;
			margin-top:50px;
		}

		#login input{
			display:block;
		}
		#login{
			width:400px;
			display:block;
			margin-left:auto;
			margin-right:auto;
			margin-top:50px;
		}

		#sign_up_sub{
			margin-left:50px;
			margin-top:10px;
		}
		#login_sub{
			margin-left:50px;
			margin-top:10px;			
		}
		.btn.btn-info{
			display:block;
			margin-left:50px;
			margin-top:7px;
		}
		#log_in_input input{
			display:block;
			width:200px;
			height:40px;
		}
		.error_messages{
			color:red;
			display:inline-block;
			margin:10px;
		}
		h1{
			width:300px;
			margin-left:auto;
			margin-right:auto;
		}
	</style>
</head>
<body>
	<h1>JOT</h1>
	<% if flash[:message]%>
		<p class='error_messages'><%=flash[:message] %></p>
	<%end %>
	<div id='sign_up'>
		<h3>Sign Up</h3>
		<form action='/sessions/sign_up' method='post'>
			<div id='sign_up_input'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input type='input' name='user[user_name]' placeholder='Enter User Name'>
				<input type='input' name='user[first_name]' placeholder='Enter First Name'>
				<input type='input' name='user[last_name]' placeholder='Enter Last Name'>
				<input type='input' name='user[email]' placeholder='Enter Email'>
				<input type='password' name='user[password]' placeholder='Enter Password'>
			</div>
			<input type='submit' value='Submit' class='btn btn-info'>
 		</form>
	</div>
	<div id='login'>
		<h3>Login</h3>
		<form action='/sessions/sign_in' method='post'>
			<div id='log_in_input'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input type='input' name='user[email]' placeholder='Enter Email'>
				<input type='password' name='user[password]' placeholder='Enter Password'>
			</div>
			<input type='submit' value='Submit' class='btn btn-info'>
		</form>
	</div>
</body>
</html>