<html>
<head>
	<title>Groups</title>

	<style type="text/css">
		.group{
			width:250px;
			height:250px;
			border:1px solid #D8D8D8;
			display:inline-block;
			margin:6px;
			vertical-align:top;
		}

		#all_groups{
			margin:10px;
			margin-top:100px;
		}
		h2{
			width:460px;
			margin-left:auto;
			margin-right:auto;
		}
		#back{
			width:60px;
			float:right;
			display:block;
			margin-right:100px;
		}
		#name{
			width:310px;
			display:block;
			margin-left:auto;
			margin-right:auto;
		}
		#sub{
			display:block;
			margin-left:auto;
			margin-right:auto;
			width:100px;
			margin-top:10px;
		}
		#group_name{
			text-transform: capitalize;
		}
		h4{
			margin-left:10px;
		}

	</style>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#new_group_form").submit(function(){
				$.post($(this).attr('action'),$(this).serialize(),function(data){

					$("#all_groups").prepend("<div class='group'><p><a href='/groups/view/"+data.group_id+"'>"+data.name+"</a></p></div>")
				},"json")
				return false;
			})
		})

	</script>
</head>
<body>
		<h2>All Groups</h2>
		<a href="/papers/new/<%=@point.paper.id %>" id='back'>Back</a>
	<div id='all_groups'>
		<% if @groups%>
			<% @groups.each do |group|%>
				<div class='group'>
					<h4><a href='/notesupports/group/<%=group.id%>/<%=@point_id %>' id='group_name'><%=group.name %></a></h4>
				</div>
			<% end%>
		<% end%>
	</div>

</body>
</html>