<!DOCTYPE html>
<html>
<head>
    <title>Jot Down Notes</title>
  <%= stylesheet_link_tag    'collections', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'collections', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class='content'>
		<%= yield %>
	</div>

</body>
</html>
