<!DOCTYPE html>
<html>
<head>
    <title>Jot Down Notes</title>
  <%= stylesheet_link_tag    'homes', media: 'all' %>
  <%= javascript_include_tag 'homes' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class='content'>
		<%= yield %>
	</div>
	

</body>
</html>
