<!DOCTYPE html>
<html>
<head>
  <title>Joe</title>
  <%= stylesheet_link_tag    'homes', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class='content'>
		<%= yield %>
	</div>
	

</body>
</html>
